* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/bg-image.png');
    background-size: cover; /*aumenta o tamanho da imagem de fundo*/
}

#root {
    display: flex;
    justify-content: center;
}

.logo {
    margin: 20px 0px;
}

.form-container, #submit-button {
    display: flex;
    justify-content: center;
    color: white;
}

.form-container {
    background-color: rgba(128, 128, 128, 0.265);
}

p {
    margin: 8px;
}

input {
    padding: 10px;
    border-radius: 12px;
    border: none;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#submit-button {
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 14px;

    margin: 10px 0px;
    padding: 8px;
    width: 100px;
}